
html {
    font-size: 100%;
}
body {
    font-family: sans-serif;
}
#secKontakter {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 700px;
}
#secKontakter div {
    padding: 1rem;
}
#secKontakter div:nth-child(6n + 0),
#secKontakter div:nth-child(6n - 1),
#secKontakter div:nth-child(6n - 2)
{
    background-color: #eee;
}
