html {
  scroll-behavior: smooth;
}

/*css for hele body når den er større enn 600px starter under her*/
@media only screen and (min-width: 600px) {
  body {
    /*gjør slik at det ikke er noe avstand mellom body og det som er utenfor*/
    margin: 0px;
    top: 0px;
    /*gir body en bakgrunnsfarge*/
    background-color: #dbdde0;
  }
}

/*css for hele delen over søkemotoren av header når den er større enn 600px starter under her*/
@media only screen and (min-width: 600px) {
  .header_øverst {
    text-align: center;
    /* styler tekst*/
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
  }
}

.knapp_header>a {
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  padding: 12px 28px;
  font-style: monospace;
  text-decoration: none;
}

.knapp_header>a:hover {
  transition: all 0.4s ease-in-out;
  border-color: #022c70;
}

.logo {
  padding-top: 80px;
  text-align: center;
}

.header_over_mitt_navn {
  color: white;
  padding-top: 40px;
}

@media only screen and (min-width: 600px) {
  .logo>.overskrift {
    font-size: 89px;
    color: white;
    /* endrer plassering*/
    margin-top: 0px;
    grid-column: span 7;
  }
}

.hele_følg_meg {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.usynlig_følg-meg {
  grid-column: span 11;
}

.følg_meg {
  grid-column: span 2;
  padding-top: 60px;
  font-size: 24px;
}

/* Style all font awesome icons */
.fa {
  margin-top: 45px;
  padding: 21px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 90%;
  float: left;
  position:
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #3B5998;
  color: white;
}

header {
  background-image: url(bilder/astronomy-beautiful-clouds-355465.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 820px;
}

img:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}

/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 24px 16px;
  margin-top: 230px;
  font-size: 17px;
  width: 20%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
  margin-top: 230px;
}

h1 {
  font-size: 40px;
}

.hele_tab {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.bilde_tabcontent {
  grid-column: span 1;
  margin: 0px;
}

.resten_tab_content {
  padding-top: 30px;
  grid-column: span 8;
}

/* Style each tab content individually */
#London {
  background-color: red;
}

#Paris {
  background-color: green;
}

#Tokyo {
  background-color: blue;
}

#Oslo {
  background-color: orange;
}

#signaler {
  background-color: pink;
}

.tekst_om {
  margin-bottom: 50px;
}

h2>a {
  border-style: solid;
  border-width: 5px;
  padding: 20px 90px;
  background-color: grey;
  text-decoration: none;
  color: white;
}

h2>a:hover {
  color: black;
  transition: all ease-in-out 350ms;
}

/*css for main større enn 600px starter under her*/
@media only screen and (min-width: 600px) {
  main {
    /* endrer plassering og bakgrunn */
    margin: 0px 0px;
    background-color: #fff2ea;
    padding-top: 40px;
  }
}

.main_hoved {
  /* styler tekst. */
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.fakta_om_meg {
  margin: 20px 300px;
  color: #7D7D7D;
  font-size: 25px;
  padding-bottom: 20px;
}

.overskrift_om {
  padding-top: 50px;
  margin: 0px;
  color: #B53355;
}

.overskrift_navn {
  margin: 0px;
  font-size: 50px;
}

.alt_lært {
  background-color: #f7edf0;
}

.hva_jeg_lært {
  padding-top: 60px;
}

/* Teksten øverst i tabellen som viser hva du er inne på og innenfor a*/
.klær_tekst>a {
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}

li {
  list-style: none;
}

/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box
}

/* Container for skill bars */
.container {
  width: 100%;
  /* Full width */
  background-color: #ddd;
  /* Grey background */
}

.skills {
  text-align: right;
  /* Right-align text */
  padding: 10px;
  /* Add some padding */
  color: white;
  /* White text color */
}

.html {
  width: 70%;
  background-color: #4CAF50;
}

/* Green */
.css {
  width: 60%;
  background-color: #2196F3;
}

/* Blue */
.js {
  width: 7%;
  background-color: #f44336;
}

/* Red */
.main_hoved {
  grid-column: span 6;
}

.det_jeg_har_lært {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.HTML, .CSS, .JS {
  border-style: solid;
  border-color: darkgrey;
  border-width: 5px;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.mine_nettsider {
  background-color: #f2e1e7;
  margin: 0px;
  padding: 0px 150px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.mine_sider_overskrift {
  font-size: 40px;
  padding-top: 20px;
}

.mine_sider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nettside {
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px;
  margin: 10px;
}

.nettside:hover {
  opacity: 0.7;
}

.nettside>a {
  color: black;
  text-decoration: none;
}

img {
  width: 250px;
  height: 300px;
  margin: 10px;
}

/*Footer starter her*/
@media only screen and (min-width: 600px) {
  .hele_footer {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
    font-weight: normal;
    padding: 60px 100px;
    margin: 0px;
  }
}

th>a {
  text-decoration: none;
  color: white;
}

td>a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 600px) {
  .sosbilder {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin: 15px;
  }
}

thead {
  text-decoration: underline;
  font-size: 22px;
}

tbody {
  /* styler tekst. */
  font-style: normal;
  font-size: 20px;
  font-family: monospace;
  font-weight: lighter;
}

.om_oss_footer {
  padding-top: 30px;
}

.sosial_footer {
  padding-top: 20px;
}
