.overskrift{
  color:red;
  margin: 0px;
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
}

body{
  background-color: black;
}

.app{
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.div1{
  height: 230px;
}

.bilde{
  height: 170px;
  width: 260px;
  background-color: blue;
  position: relative;
  margin: 30px;
  transition: 0.4s;
}

.bilde:hover{
transform: scale(1.3);
border-style: solid;
border-color: white;
border-width: 2px;
}
