body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	color: white;
  background-image:url("nett.jpg");
}

header>h1{
  margin: 0px;
padding:50px;
font-size: 53px;
background-color: salmon;
}

.grid{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  margin-top: 20px;
    border-color: salmon;
    border-radius: 50px;
    border-style: solid;
padding: 10px;
  text-align: left;
  width: 90%;
}

main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h3{
  font-size: 30px;
}

  p , h3 {
    padding: 30 10px;
    border-radius: 10px;
  }

  h1 {
    text-align: center;

  }

  p,h1  {
color: white;
  }
