body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
	color: white;
  padding-left: 20px;
  padding-right: 20px;
  background-image:url("nett.jpg");


}
main{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  margin: auto;
    border-color: salmon;
    border-radius: 50px;
    border-style: solid;
  padding-left: 30px;
  padding-right: 15px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;



}
  p {

    padding: 30px;
    border-radius: 10px;
  }

  h1 {
    text-align: center;

  }

  p,h1  {
color: white;
  }
